body {
    padding-top: 20px; 
    cursor: default;
}

.header {
    height: 100px;
    &__info {
        margin-top: 40px;
        text-align: center;
    }
}

.table-cell {
    text-align: center
}

.main {
    width: 90%;
    margin-left: 5%;
    min-width: 800px;
}