body {
    padding-top: 20px;
    cursor: default;
    user-select: none;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    background-image: url('./air.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    filter: blur(3px);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: scale(1.1);
  }